<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>LokaleMand</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleGetInfoString</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>LokaleMand</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>app-1-590735145409-ios-41c704d8936e4b09809740</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>FirebaseDynamicLinksCustomDomains</key>
    <array>
        <string>https://lokale_mand.page.link</string>
    </array>
    <key>FirebaseMessagingAutoInitEnabled</key>
    <false/>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>paytm</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>This app provides a facility to change the profile picture for the users, so it requires permission to access images to upload and set the profile picture into your account.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>User requires access to the location to fetch nearby products from various sellers to make the user experience better and get proper deliverable items to belong to your selected location.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>User requires access to the location to fetch nearby products from various sellers to make the user experience better and get proper deliverable items to belong to your selected location.</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
        <key>TemporaryPreciseAccuracy</key>
        <string>User requires temporary access to the device's precise location to find nearby sellers.</string>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>User requires access to the location to fetch nearby products from various sellers to make the user experience better and get proper deliverable items to belong to your selected location.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app listens for speech on the device microphone at your request to search.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app provides a facility to change the profile picture for the users, so it requires permission to access images to upload and set the profile picture into your account.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app recognizes words as you speak them and search.</string>
    <key>NSUserNotificationsUsageDescription</key>
    <string>User requires notification access to receive notifications in the app.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
</dict>
</plist>
